body {
    width: 100vw;
    overflow-x: hidden;
}

/*Создаем общий класс для всех одинаковых подзаголовков*/
.title {
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 21px;
    color: rgba(24, 180, 207, 255);
    text-align: center;
    text-transform: uppercase;
}

.header {
    width: 100%;
    background: url("../image/header-bg.png") fixed center center;
    background-size: cover;
}

.nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d2124;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}


.logo-img {
    padding: 21px;
    background-color: #1a1d20;
}

.logo-title {
    margin-left: 7px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
}

.nav-item {
    margin-right: 37px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.search {
    padding: 25px;
    background-color: #1a1d20;
}

.main-header {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    margin-bottom: 44px;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    color: #ffffff;
    text-transform: uppercase;
}

.btn {
    padding: 19px 21px 21px;
    width: 170px;
    height: 55px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.btn-left {
    background-color: #89ca62;
    margin-right: 20px;
}

.btn-right {
    background-color: #14b9d5;
}

.section-posts {
    padding-top: 61px;
    padding-bottom: 70px;
    width: 100%;
    background-color: #f2f2f2;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.posts-title {
    margin: 0 auto 52px;
}

.posts {
    margin: 0 auto;
    width: 1170px;
    height: 870px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
}

.posts-item {
    margin-bottom: 32px;
    text-decoration: none;
}

.post-img {
}

.post-description {
    padding: 22px 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 19px;
    color: rgba(53, 58, 61, 255);
    background-color: #fff;
}

.clients {
    padding: 201px 50px 207px;
    width: 100%;
    background: url("../image/clients-bg.png") fixed center center;
    background-size: cover;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.clients-title {
    margin-bottom: 115px;
    font-size: 25px;
    color: #ffffff;
}

.clients-items {
    margin: 0 auto;
    width: 885px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 76px;
}

.rated {
    padding-top: 63px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.rated-title {
    margin-bottom: 51px;
}

.rated-items {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    grid-gap: 0;
}

.rated-img {
    width: 100%;
    height: auto;
}

.news {
    padding-bottom: 71px;
}

.top-news-title {
    margin-top: 60px;
    margin-bottom: 51px;
}

.news-items {
    margin: 0 auto;
    width: 1168px;
    display: grid;
    grid-template-areas: 'news1 news1 news1 news2'
                         'news3 news3 news4 news4'
                         'news5 news5 news6 news6'
                         'news7 news8 news8 news8';
    grid-template-rows: 259px 418px 418px 259px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px;
}

/* Общий класс для всех title в news */

.news-title {

    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
}

/* Общий класс для описания блоков news */

.desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: rgba(91, 100, 105, 255);
    text-align: right;
    line-height: 1.5;
}

.news-1 {
    grid-area: news1;
}

.news-2 {
    grid-area: news2;
}

.news-3 {
    grid-area: news3;
}

.news-4 {
    grid-area: news4;
}

.news-5 {
    grid-area: news5;
}

.news-6 {
    grid-area: news6;
}

.news-7 {
    grid-area: news7;
}

.news-8 {
    grid-area: news8;

}

.type1 {
    display: flex;
}

.news-desc-type1 {
    padding: 41px 24px 37px 24px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f9f7f7;
}

.news-desc-type1 h3 {
    margin-bottom: 22px;
    text-align: right;
}

.news-desc-type1 p {
}

.news-img-type1 {
    height: 259px;
    width: 483px;
}

.type2 img {
    display: block;
}

.type2 h3 {
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f7f7;
}

.news-img-style {
    height: 259px;
    width: 100%;
    display: block;
}

.news-desc-style {
    padding: 20px 27px 21px 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f9f7f7;
}

.news-desc-style h3 {
    margin-bottom: 22px;
    text-align: right;
}

.footer {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1d2124;

}

.rights {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: rgba(255, 255, 255, 255);
    text-align: right;
}

.company {
}

.company img:nth-child(2) {
    margin-bottom: 7px;
}
